html, body, header{
    width: 100%;
}

h1{
    color: white;
    text-align: center;
    padding: 5px;
}

#logo{
    width: 100px;
    height: 100px;
}

#name{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

a{
    color: white;
    background-color: transparent;
    font-size: larger;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    text-decoration: underline;
}

#content{
    margin: 150px 30px 100px;
}