<div class="generalContent bodyLogin">

    <section class="rellenoInicial"></section>

    <div class="container">

        <div class="form-content">
            <h1 id="title">Login</h1>
            <!-- login.component.html -->
            <div class="login-container">
                <!-- <form (ngSubmit)="login()"> -->
                <form>
                    <div class="form-group">
                        <label for="userName">Nombre de Usuario</label>
                        <!-- <input type="text" id="userName" class="form-control input-field" [(ngModel)]="userName" placeholder="Escribe tu nombre de usuario aqui..." name="userName" -->
                        <input type="text" id="userName" class="form-control input-field"placeholder="Escribe tu nombre de usuario aqui..." name="userName"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <!-- <input type="password" id="password" class="form-control input-field" placeholder="Escribe tu contraseña aqui..." [(ngModel)]="password" name="password" -->
                        <input type="password" id="password" class="form-control input-field" placeholder="Escribe tu contraseña aqui..." name="password"
                            required>
                    </div>
                    <button type="submit" class="">Iniciar sesión</button>
                </form>
            </div>

        </div>
    </div>